name: absolutcinema_backend_prod

services:
  app:
    container_name: absolutcinema_backend_prod
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: always
    ports:
      - ${PORT}:${PORT}
    env_file:
      - .env.production
    environment:
      APP_ENV: ${APP_ENV}
      PORT: ${PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_SCHEMA: ${DB_SCHEMA}
    depends_on:
      psql_bp:
        condition: service_healthy
    networks:
      - prod
    
  psql_bp:
    container_name: absolutcinema_psql_prod
    image: postgres:18.1-alpine3.21
    restart: always
    env_file:
      - .env.production
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - psql_volume_bp_prod:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - prod

volumes:
  psql_volume_bp_prod:
    driver: local
    
networks:
  prod:
    driver: bridge
